/* colors */
html{
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: large;
}

body {
  margin: 0;
  padding: 0;
}
:root {
  /* cold: */
  --darklight: #5aa47b63;
  --dark: #35503e;
  --darker: #0d2e1f;
  --darkest: #022619;
  --grey: #6b806f;
  /* mixed */
  --blau: #100089;
  --lightblau: #218dcb;
  --yellow: #e7b416;
  --yellow-red: #db7b2b;
  --red: #cc3232;
  /* speciel */
  --pink: #ec4899;
  --purple: #8b5cf6;
  --light: #eeeeee;
}
#main-container{
  width: 100%;
}
.header-homepage {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  background-color: var(--darkest);
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.header-logo {
  text-align: left;
  font-size: 27px;
  font-weight: bolder;
}
h2 {
  margin: 0%;
  padding: 0%;
}
.header-navigation {
  text-align: right;
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  font-size: larger;
  font-weight: bolder;
  padding-top: 9px;
  color: white;
}
.navigation {
  padding-right: 20px;
}

/* body */

#home-video {
  width: 100%;
  height: 100%;
  margin-top: -30;
}
.video-content {
  top: -30px;
}

* {
  box-sizing: border-box;
}

main {
  margin: 0;
}
#myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(84, 155, 76, 0.385);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  top: 40px;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0%;
  margin-inline-end: 0%;
}

#myBtn {
  height: 5%;
  width: fit-content;
  padding: 10px;
  border: none;
  background: var(--dark);
  color: #fff;
  cursor: pointer;
  border-radius: 8px; /* half of the button's width */
  font-size: large;
  font-weight: bold;
}
#myBtn:hover {
  background-color: var(--darklight);
  color: white;
  border: 1px solid var(--darkest);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
  font-size: medium;
}

/* cards css */

.container-cards{
  display: flex;
}
.cards {
  width: 461px;
  height: 267px;
  flex-shrink: 0;
  background-color: var(--dark);
  margin: 20px;
  margin-top: 100px;
  padding: 0 0 0 10px;
  border-radius: 10px;
  opacity: 75%;
}

h1 {
  max-width: fit-content;
  flex-shrink: 0;
  color: #fff;
  margin: 0%;
  font-size: 90px;
  font-weight: 800;
  line-height: normal;
  align-items: center;
}
h2 {
  max-width: fit-content;
  flex-shrink: 0;
  color: #fff;

  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
}

h3{
  font-size: x-large;
  font-weight: bolder;
}

p{
  font-size: x-large;
}

/* footer */
footer {
  width: 100%;
  height: max-content;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  color: #fbfbfb;
  background-color: var(--dark);
  opacity: 75%;
  position: fixed;
  z-index: 1;
}
[id="footer-par"]{
  font-size: small;
}

.fa {
  padding: 14px;
  font-size: 500px;
  width: 50px;
  height: max-content;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: var(--darkest);
  color: white;
}
.fa-instagram {
  background: var(--darkest);
  color: white;
}
.fa-youtube {
  background: var(--darkest);
  color: white;
}
.contact {
  padding-left: 10px;
  font-weight: bold;
}
.media-icons {
  padding-right: 10px;
}




@media screen and (max-width: 768px)  {
/*   body{
    width: 100%;
    height: 100%;
  } */
  #main-container{
    width: 100%;
    min-width: 375px;
    font-size: 14px;
  }
  .header-homepage{
    width: 100%;
    position: relative ;
  }
  svg{
    width: 40%;
    height: 100%;
  }
  .header-logo{
    width: 50%;
  } 
  .header-navigation{
    width: 50%;
  }
  .navigation{
    font-size: small;
  }
  .content{
    width: 100%;
    height: auto;
    padding: 0%;
  }
  #myVideo{
    max-width: 100%;
  }
  h1{ 
    font-size: large;
    max-width: 100%;
    max-height: 40px;
    margin: 0%;
  }
  h2{
    max-width: 100%;
    font-size: medium;
    max-height: 40px;
    margin: 0%;
  }
  
  .container-cards{
    display: block;
    width: 100%;
    height: auto;    
  }
  .cards{
    width: 96%;
    height: fit-content;
    max-height: auto;
    margin: 2%;
    padding: 5px;
  }
  h3{
    font-size: small;
  }

  p{
    font-size: small;
  } 
  footer{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    max-height: 40px;
  }

}