/* Basic form styling */

:root {
    /* cold: */
    --darklight: #83e5af;
	--dark: #1b3b26;
	--darker: #133627;
	--darkest: #001E3C;
	--grey: #6b806f;
    /* warm */
    --blau: #100089;
    --lightblau: #218dcb;
    --yellow: #e7b416;
    --yellow-red: #db7b2b;
    --red: #cc3232;
    /* mixd or speciel */
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #eeeeee;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  margin: 0;
  border: 0;
}
.form-content {
  /* display: block;
    text-align: center;
    position: fixed;
    top: 20%;
    left: 20%; */
  width: 768px;
  padding: 0;
  margin: 0;
  background-color: rgb(39, 73, 35);
  border-radius: 10px;
}

form {
  margin: 0;
  padding: 0;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.close-form {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.close {
  text-align: center;
  height: 20px;
  width: 20px;
  padding-right: 5px;
  color: white;
  border: 1px solid rgb(179, 3, 3);
  border-radius: 5px;
  background-color: rgb(191, 77, 77);
}

.field {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.fieldset {
  /* display: flex; */
}

.q2 {
  display: flex;
  justify-content: space-around;
  padding-left: 20%;
  padding-right: 20%;
}

#fieldset4 {
  display: grid;
  grid-template-columns: repeat(1 / 1fr);
  column-gap: 0;
  margin: 0;
  padding: 0;
}
.q4-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin: 0;
  padding: 0;
  /* border: 1px solid white; */
}

[class*="q4"] {
  display: flexbox;
  padding: 0 1rem;
  margin: 0;
}

legend {
  color: white;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

fieldset:hover,
input:hover {
  background-color: #00c943;
}

@media screen and (max-width: 768px) {
  .form-content {
    max-width: 100%;
    height: 100%;
    background-color: rgb(138, 254, 125);
    border-radius: 10px;
  }
  #fieldset4 {
    max-width: 100%;
    column-gap: 0;
    margin: 0;
    padding: 0;
  }
}
