/* Basic form styling */
form {
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    top: 50%;
    left: 50%;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-content {
    display: block;
    text-align: center;
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4549a0;
}

/* Different styling for Form 2 */
#form1, #form2 {
    background-color: #f2f2f2;
}
